<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Buenas Nachos, Everyone!</h1>
    <p>This is a Video viewing website. Sign up as a free member to watch some really neat stuff! And if you want to watch the best that the internet has to offer, upgrade to a pro membership!</p>       
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Food!</h2>
      <img src="https://i.ytimg.com/vi/_HcJ85CQr1I/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLB8E7jgS8gz_JeGcgy0K4GfRYQLAw" alt="smol food" scale="0">
      <p>Find out what this disgusting mess is!</p>
      
    </div>
    <div class="col-md-4">
      <h2>Gaming!</h2>
       <img src="https://i.ytimg.com/vi/mwzph0BKlEk/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLB9qeXeO9EmqcHDMK61EqMpRp9oeQ" alt="game bugz" scale="0">
      <p>Get the upper edge on the newest games with exclusive game footage! </p>
      
    </div>
    <div class="col-md-4">
      <h2>Thrill Seeking!</h2>
      <img src="https://i.ytimg.com/vi/xzH65aU1q0g/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLCpzyMXVgGyRIGGWtyKPRhdSpz7EA" alt="Do a flip" scale="0">
      <p>Get your adrenaline fix! We have it all, don't let these great videos pass you by!</p>
      <p><a class="btn btn-secondary" href="/videos" role="button">Check them out NOW!! &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->