
<form action="/videos/create" method="post">
  Video Title:<br>
  <input type="text" name="title"><br>
  Video Description:<br>
  <input type="text" name="description"><br>
  Source video url:<br>
  <input type="text" name="video_url"><br>
  Pro Video:  
  <input type="checkbox" name="pro"><br>
  <input type="submit" value="submit">
</form>